// Two Color Palette

// Red
$red_100: #f7ebed;
$red_200: #fdd4da;
$red_300: #fcafc0;
$red_400: #fb637e;
$red_500: #f4364c;
$red_600: #ef3340;
$red_700: #cb333b;
$red_800: #a4343a;
$red_900: #643335;

// Warm Red
$warm_red_100: #fcf6f5;
$warm_red_200: #ffdde2;
$warm_red_300: #ffb1bb;
$warm_red_400: #ff808b;
$warm_red_500: #ff585d;
$warm_red_600: #f9423a;
$warm_red_700: #e03c31;
$warm_red_800: #be3a34;
$warm_red_900: #81312f;

// Orange
$orange_100: #fdf2d6;
$orange_200: #f9dabb;
$orange_300: #ffae62;
$orange_400: #ff8f1c;
$orange_500: #ff6900;
$orange_600: #fe5000;
$orange_700: #b94700;
$orange_800: #94450b;
$orange_900: #653819;

// Light Orange
$light_orange_100: #f8f2ce;
$light_orange_200: #f4ef9e;
$light_orange_300: #f3dd6d;
$light_orange_400: #f3d54e;
$light_orange_500: #f3d03e;
$light_orange_600: #f2a900;
$light_orange_700: #cc8a00;
$light_orange_800: #a07400;
$light_orange_900: #6c571b;

// Yellow
$yellow_100: #fdf8e1;
$yellow_200: #f6f2b0;
$yellow_300: #f6eb61;
$yellow_400: #f7ea48;
$yellow_500: #fce300;
$yellow_600: #fedd00;
$yellow_700: #c5a900;
$yellow_800: #af9800;
$yellow_900: #897a27;

// Light Green
$light_green_100: #f3f6e0;
$light_green_200: #e3ebb5;
$light_green_300: #c2e189;
$light_green_400: #b7dd79;
$light_green_500: #a4d65e;
$light_green_600: #78be20;
$light_green_700: #64a70b;
$light_green_800: #658d1b;
$light_green_900: #546223;

// Green
$green_100: #e8f3ee;
$green_200: #dfefea;
$green_300: #a7e6d7;
$green_400: #8ce2d0;
$green_500: #3cdbc0;
$green_600: #00ab84;
$green_700: #009775;
$green_800: #007b5f;
$green_900: #00664f;

// Light Blue
$light_blue_100: #f0f6f7;
$light_blue_200: #cee7ee;
$light_blue_300: #9adbe8;
$light_blue_400: #59cbe8;
$light_blue_500: #00b5e2;
$light_blue_600: #0085ca;
$light_blue_700: #006ba6;
$light_blue_800: #00587c;
$light_blue_900: #003b49;

// Blue
$blue_100: #e2e9f2;
$blue_200: #d1e1f0;
$blue_300: #c3d7ee;
$blue_400: #a7c6ed;
$blue_500: #307fe2;
$blue_600: #10069f;
$blue_700: #001a72;
$blue_800: #001e60;
$blue_900: #13294b;

// Purple
$purple_100: #efedf1;
$purple_200: #dcd6e6;
$purple_300: #c5b4e3;
$purple_400: #ad96dc;
$purple_500: #9678d3;
$purple_600: #7d55c7;
$purple_700: #409;
$purple_800: #330072;
$purple_900: #2e1a47;

// Light Purple
$light_purple_100: #fcf6f5;
$light_purple_200: #eedfe9;
$light_purple_300: #e7bae4;
$light_purple_400: #dd9cdf;
$light_purple_500: #c964cf;
$light_purple_600: #bb29bb;
$light_purple_700: #ad1aac;
$light_purple_800: #981d97;
$light_purple_900: #72246c;

// Pink
$pink_100: #f3e2e9;
$pink_200: #efd6de;
$pink_300: #eabedb;
$pink_400: #e56db1;
$pink_500: #da1884;
$pink_600: #ce0058;
$pink_700: #a50050;
$pink_800: #910048;
$pink_900: #6c1d45;

// Cool Gray
$cool_gray_100: #edf0ed;
$cool_gray_200: #dde4e6;
$cool_gray_300: #d0d3d4;
$cool_gray_400: #c1c6c8;
$cool_gray_500: #a2aaad;
$cool_gray_600: #7c878e;
$cool_gray_700: #5b6770;
$cool_gray_800: #333f48;
$cool_gray_900: #1d252d;

// Gray
$gray_100: #f2f1f0;
$gray_200: #dbdcdb;
$gray_300: #c7c9c7;
$gray_400: #b2b4b2;
$gray_500: #9ea2a2;
$gray_600: #898d8d;
$gray_700: #707372;
$gray_800: #54585a;
$gray_900: #25282a;

// Black
$black: #000;

// White
$white: #fff;
