// Motion
$motion_bezier: (
  on: cubic-bezier(0.8,0.4,0.16,1),
  into: cubic-bezier(0,0,0.16,1),
  out: cubic-bezier(0.64,0,1,1)
);
@mixin motion($element, $duration, $key) {
  transition: $element $duration map-get($motion_bezier, $key);
}
