// Typography
$typo_scales: (
  min: (fs: 0.625rem, ls: 0.075rem, lh: 1.5),
  7xs: (fs: 0.75rem, ls: 0.075rem, lh: 1.5),
  6xs: (fs: 0.875rem, ls: 0.075rem, lh: 1.5),
  5xs: (fs: 1rem, ls: 0.05rem, lh: 1.25),
  4xs: (fs: 1.125rem, ls: 0.05rem, lh: 1.25),
  3xs: (fs: 1.25rem, ls: 0.05rem, lh: 1.25),
  2xs: (fs: 1.5rem, ls: 0.05rem, lh: 1.25),
  xs: (fs: 1.75rem, ls: 0.05rem, lh: 1.25),
  s: (fs: 2rem, ls: 0.05rem, lh: 1.25),
  m: (fs: 2.25rem, ls: 0.015rem, lh: 1.25),
  l: (fs: 2.5rem, ls: 0.015rem, lh: 1.25),
  xl: (fs: 3rem, ls: 0.015rem, lh: 1.25),
  2xl: (fs: 3.5rem, ls: 0.01rem, lh: 1.25),
  3xl: (fs: 4rem, ls: 0.01rem, lh: 1.25),
  4xl: (fs: 4.5rem, ls: 0, lh: 1.25),
  5xl: (fs: 5rem, ls: 0, lh: 1.25),
  6xl: (fs: 5.5rem, ls: 0, lh: 1.25),
  7xl: (fs: 6rem, ls: 0, lh: 1.25)
);
@mixin typo($key) {
  font-size: map-get(map-get($typo_scales, $key), fs);
  letter-spacing: map-get(map-get($typo_scales, $key), ls);
  line-height: map-get(map-get($typo_scales, $key), lh);
}
// Typography weight
$typo_weights: (
  light: 300,
  regular: 400,
  bold: 700
);
@mixin weight($key) {
  font-weight: map-get($typo_weights, $key);
}
